@model OneTop.Models.Product

@section Styles {
    <link rel="stylesheet" href="~/css/asset/css_part/Product/product-detail.css" asp-append-version="true" />
    
}

<main class="product-detail-page">

    <div class="pd-layout">

        <!-- LEFT: IMAGE -->
        <div class="pd-left">
            <img src="@(Model.ImageUrl?.StartsWith("http") == true
                                         ? Model.ImageUrl
                                         : Url.Content("~/img/" + Model.ImageUrl))"
                 alt="@Model.ProductName"
                 onerror="this.src='/img/no-image.png'" />
        </div>

        <!-- RIGHT: INFO -->
        <div class="pd-right">
            <h1 class="pd-name">@Model.ProductName</h1>

            <p class="pd-category">
                Danh mục: <strong>@Model.CategoryName</strong>
            </p>

            @if (Model.DiscountPercent.HasValue && Model.DiscountPercent > 0)
            {
                <span class="price-current">
                    @(((Model.Price * (100 - Model.DiscountPercent.Value)) / 100m).ToString("N0")) đ
                </span>

                <span class="price-original">
                    @Model.Price.ToString("N0") đ
                </span>

                <p class="pd-discount">
                    Giảm giá: @Model.DiscountPercent %
                </p>
            }
            else
            {
                <span class="price-current">
                    @Model.Price.ToString("N0") đ
                </span>
            }


            <p class="pd-stock">
               Trạng Thái: @(Model.Stock > 0 ? "Còn hàng" : "Hết hàng")
            </p>

            <div class="pd-actions">


                <a asp-controller="Login" asp-action="Login" class="btn-buy-now">Mua Ngay</a>

            </div>

        </div>

    </div>

    <!-- DESCRIPTION -->
    <section class="pd-description">
        <h2>Mô tả sản phẩm</h2>
        <p>@Model.Description</p>
    </section>

</main>
